################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BUS/bin/Debug/net6.0
/BUS/bin
/DAL/bin
/BoutiqueFashionFirstCode/bin
/.vs/BoutiqueFashionFirstCode/v17
